:root {
  --theme-line-width: 2px;
  --theme-line-width-bold: 3px;

  --theme-line-color: #585858;
  --theme-line-color-bold: #000;

  --theme-area-line: #aaa;
  --theme-area-line-bold: #868686;

  --theme-area-fill: #eee;
  --theme-area-fill-bold: #aaa;

  --theme-tick-fill: #fff;
  --theme-tick-fill-bold: #eee;

  --theme-tick-style: ellipse;
  --theme-tick-width: 10px;
  --theme-tick-height: 10px;
}

body.blue {
  --theme-line-color: #1180da;
  --theme-area-line: #5daae9;
  --theme-area-fill: #a1cef3;
  --theme-tick-fill: #fff;
}

body.green {
  --theme-line-color: #079459;
  --theme-area-line: #3aba84;
  --theme-area-fill: #7ee6ba;
  --theme-tick-fill: #fff;
}

body.bold {
  --theme-line-width: 4px;
}


body {
  color: var(--theme-line-color);
}
table {
  width: 100%;
}
table, thead, td {
  border: var(--theme-line-width) solid;
  border-collapse: collapse;
}
thead {
  font-weight: bold;
  background-color: var(--theme-area-fill);
}

div.container {
  display: block;
  position: absolute;
  float: left;
  width: 95%;
  height: 300%;
}

div.block {
  display: block;
  position: relative;
  width: 100%;
  height: 12.5%;
}

/* HDML VIEW */
hdml-view.all-together,
hdml-view.all-together-independent {
  width: 100%;
  height: calc(100% - 80px);
}

/* HDML PLANE */
hdml-view.all-together cartesian-plane {
  padding: 15px 25px;
}
hdml-view.all-together-independent cartesian-plane {
  padding: 8px 25px 30px 35px;
}

/* HDML SCALE */
hdml-view.all-together ordinal-scale {
  padding: 0 0 0 40px;
}
/* hdml-view.all-together-independent ordinal-scale {
  padding: 0 0 0 15px;
} */
hdml-view.all-together linear-scale {
  --hdml-padding: 15px 0;
  --hdml-padding-hover: 25px 0;
  --hdml-padding-active: 25px 0;
  --hdml-padding-focus: 25px 0;
}

/* HDML AXIS */
hdml-view.all-together horizontal-axis,
hdml-view.all-together vertical-axis,
hdml-view.all-together-independent horizontal-axis,
hdml-view.all-together-independent vertical-axis {
  --hdml-line-width: var(--theme-line-width);
  --hdml-line-width_active: var(--theme-line-width-bold);
  --hdml-line-width_focus: var(--theme-line-width-bold);
  --hdml-line-width_hover: var(--theme-line-width-bold);

  --hdml-line-color: var(--theme-line-color);
  --hdml-line-color_active: var(--theme-line-color-bold);
  --hdml-line-color_focus: var(--theme-line-color-bold);
  --hdml-line-color_hover: var(--theme-line-color-bold);

  --hdml-line-style: solid;
  --hdml-line-style_active: solid;
  --hdml-line-style_focus: solid;
  --hdml-line-style_hover: solid;
}
horizontal-axis.center {
  top: 50%;
}
vertical-axis.center {
  left: 50%;
}

/* HDML AXIS TICK */
hdml-view.all-together horizontal-axis-tick,
hdml-view.all-together vertical-axis-tick,
hdml-view.all-together-independent horizontal-axis-tick,
hdml-view.all-together-independent vertical-axis-tick {
  --hdml-line-width: var(--theme-line-width);
  --hdml-line-width_active: var(--theme-line-width-bold);
  --hdml-line-width_focus: var(--theme-line-width-bold);
  --hdml-line-width_hover: var(--theme-line-width-bold);
  
  --hdml-line-color: var(--theme-line-color);
  --hdml-line-color_active: var(--theme-line-color-bold);
  --hdml-line-color_focus: var(--theme-line-color-bold);
  --hdml-line-color_hover: var(--theme-line-color-bold);

  --hdml-line-style: solid;
  --hdml-line-style_active: solid;
  --hdml-line-style_focus: solid;
  --hdml-line-style_hover: solid;
  
  --hdml-fill-color: var(--theme-tick-fill);
  --hdml-fill-color_active: var(--theme-tick-fill-bold);
  --hdml-fill-color_focus: var(--theme-tick-fill-bold);
  --hdml-fill-color_hover: var(--theme-tick-fill-bold);
  
  --hdml-tick-style: var(--theme-tick-style);
  --hdml-tick-width: var(--theme-tick-width);
  --hdml-tick-height: var(--theme-tick-height);
}
horizontal-axis-tick.center {
  top: 50%;
}
vertical-axis-tick.center {
  left: 50%;
}

/* HDML AXIS TICK LABELS */
hdml-view.all-together horizontal-axis-tick.labels,
hdml-view.all-together vertical-axis-tick.labels,
hdml-view.all-together-independent horizontal-axis-tick.labels,
hdml-view.all-together-independent vertical-axis-tick.labels {
  --hdml-fill-color: var(--theme-line-color);
  --hdml-fill-color_active: var(--theme-line-color-bold);
  --hdml-fill-color_focus: var(--theme-line-color-bold);
  --hdml-fill-color_hover: var(--theme-line-color-bold);

  --hdml-tick-style: text;
}
hdml-view.all-together horizontal-axis-tick.labels {
  top: calc(50% + 20px);
}
hdml-view.all-together vertical-axis-tick.labels {
  left: 25px;
}
hdml-view.all-together-independent horizontal-axis-tick.labels {
  top: calc(100% + 20px);
}
hdml-view.all-together-independent vertical-axis-tick.labels {
  left: -25px;
}
hdml-view.all-together-independent horizontal-axis-tick.labels.center {
  top: calc(50% + 20px);
}
hdml-view.all-together-independent vertical-axis-tick.labels.center {
  left: calc(50% - 25px);
}

/* HDML LINES */
data-line {
  --hdml-line-width: var(--theme-line-width);
  --hdml-line-width_active: var(--theme-line-width-bold);
  --hdml-line-width_focus: var(--theme-line-width-bold);
  --hdml-line-width_hover: var(--theme-line-width-bold);

  --hdml-line-color: var(--theme-line-color);
  --hdml-line-color_active: var(--theme-line-color-bold);
  --hdml-line-color_focus: var(--theme-line-color-bold);
  --hdml-line-color_hover: var(--theme-line-color-bold);

  --hdml-line-style: solid;
  --hdml-line-style_active: solid;
  --hdml-line-style_focus: solid;
  --hdml-line-style_hover: solid;

  --hdml-curve-type: cardinal;
  --hdml-curve-cardinal-tension: 0;
}

/* HDML AREAS */
data-area {
  --hdml-line-width: var(--theme-line-width);
  --hdml-line-width_active: var(--theme-line-width-bold);
  --hdml-line-width_focus: var(--theme-line-width-bold);
  --hdml-line-width_hover: var(--theme-line-width-bold);

  --hdml-line-color: var(--theme-area-line);
  --hdml-line-color_active: var(--theme-area-line-bold);
  --hdml-line-color_focus: var(--theme-area-line-bold);
  --hdml-line-color_hover: var(--theme-area-line-bold);

  --hdml-line-style: dashed;
  --hdml-line-style_active: solid;
  --hdml-line-style_focus: solid;
  --hdml-line-style_hover: solid;

  --hdml-fill-color: var(--theme-area-fill);
  --hdml-fill-color_active: var(--theme-area-fill-bold);
  --hdml-fill-color_focus: var(--theme-area-fill-bold);
  --hdml-fill-color_hover: var(--theme-area-fill-bold);

  --hdml-curve-type: cardinal;
  --hdml-curve-cardinal-tension: 0;
}

/* HDML POINTS */
data-point {
  --hdml-line-width: var(--theme-line-width);
  --hdml-line-width_active: var(--theme-line-width-bold);
  --hdml-line-width_focus: var(--theme-line-width-bold);
  --hdml-line-width_hover: var(--theme-line-width-bold);

  --hdml-line-color: var(--theme-line-color);
  --hdml-line-color_active: var(--theme-line-color-bold);
  --hdml-line-color_focus: var(--theme-line-color-bold);
  --hdml-line-color_hover: var(--theme-line-color-bold);

  --hdml-line-style: solid;
  --hdml-line-style_active: solid;
  --hdml-line-style_focus: solid;
  --hdml-line-style_hover: solid;

  --hdml-fill-color: var(--theme-tick-fill);
  --hdml-fill-color_active: var(--theme-tick-fill-bold);
  --hdml-fill-color_focus: var(--theme-tick-fill-bold);
  --hdml-fill-color_hover: var(--theme-tick-fill-bold);

  --hdml-tick-style: var(--theme-tick-style);
  --hdml-tick-width: var(--theme-tick-width);
  --hdml-tick-height: var(--theme-tick-height);
}