@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

div.builder {
  margin-top: 20px;

  h4 {
    margin-top: 0.5rem;
  }

  div.no-model {
    text-align: center;
    color: darkgrey;
  }
}
