@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

input.form-control.field-name,
input.form-control.field-origin,
select.form-select.field-type {
  display: inline-block;
  width: 385px;
  margin-left: 15px;
}
