@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

label.form-label {
  margin-bottom: 0;

  input.form-control.model-name {
    width: 350px;
    display: inline-block;
    margin-left: 15px;
  }
}

div.no-tables {
  text-align: center;
  color: darkgrey;
}