@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

div.hdml.col {
  margin-bottom: 16px;

  table.table.table-hover {
    border: 1px solid rgba(0, 0, 0, 0.176);
    margin-bottom: 0;

    &.fields {
      border-top: none;
    }
  
    button.btn-close {
      margin-left: 135px
    }
  
    input.form-control.table-name,
    input.form-control.origin-name,
    select.form-select.table-type {
      display: inline-block;
      width: 350px;
      margin-left: 15px;
    }
  
    button.btn.btn-primary {
      width: 100%;
    }
  }
}
