/dev.environment/.data
/integration/videos
/integration/screenshots
/packages_/
/packages/**/cert
/packages/**/coverage
/packages/**/docs
/packages/**/flatc/flatc
/packages/**/wasm
/packages/**/build
/packages/**/bin
/packages/**/cjs
/packages/**/dts
/packages/**/es5
/packages/**/esm
/packages/**/tst
/packages/**/tsconfig/*.tsbuildinfo
/packages/**/node_modules
/packages/**/npm-debug.log
/.vscode
/cert
/node_modules
lerna-debug.log
npm-debug.log